.body{
    display: block;
}
.set{
    display: block;
}
.modalimg{
    width:100%;
     height:50%;
}
.paraset{
    text-align: center;
    font-size: 32px;
  
}
.colorbtn{
    background-color: blue;
    color: cornsilk;
}
.inputget{
    color:red;
    display: block;
    text-align: center !important;
   

}
table{
    margin: auto;
}
.btncell{
    color: blue;
    border: black;
    margin: 2px 5px 2px 5px;
    width: 80px;
  
}
.tcell{
    border: 2px double purple;
    color: crimson;
}
.butt{
    margin-top: 3px;
    background-color: blueviolet;
    color: white;
}
/* table,Tr,Td{
    border: 2px solid black;
    padding:5px;

 } */
 
 /* Td{
     border: 2px double blueviolet;
     font-size: 25px;
     color: crimson;
     font-weight: 400;
     font-family: Georgia;
 } */